.field{
    width: 250px;
    display: flex;
    margin: 10px;
    padding: 5px;
}
.date-picker
{
  background-image : url('https://img.icons8.com/wired/30/000000/calendar.png');
  background-Position : 97% center;
  background-Repeat :no-repeat;
  cursor:pointer;
  padding: 8px;
}

  
  